/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    width:98%;
    margin-left:auto;
    margin-right:auto;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: #2f75df;
}

.divider {
    clear:both;
    height:1px;
    display:block;
    width: 100%;
}

.clear {
    clear: both;
  }

.page-header {
    background: #daf1fd;
    padding: 0;
    margin-top:10px;
    border-radius: 5px;
    letter-spacing:-0.01em;
    color: #363636;
}

.section-title {
    width: 35%;
    float: left;
    padding: 25px;
    text-align: center;
}

.section-title h1 {
    padding:0;
    margin:0 0 30px 0;
    font-size: 3.3em;
    font-weight: normal;
    line-height: 1.1em;
    color: #305469;
}

.section-title p{
    padding: 0;
    margin:0;
    font-size: 0.95em;
}


.section-tests {
    text-align: center;
    padding: 25px;
    margin: 0 0 0 40%;
    border-left: 10px solid #fff;
    letter-spacing:-0.01em;
}

.section-tests h2 {
    padding:0;
    margin:0 0 10px 0;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2em;
    color: #305469;
    letter-spacing:-0.02em;
}

.section-tests p{
    padding: 0;
    margin:0;
    font-size: 0.95em;
}

.section-tests table{
    margin-top:20px;
}

.section-tests table tr td {
    vertical-align: top;
    padding: 10px;
    text-align: center;
    width: 33%;
}

.section-tests table tr td input {
    display:block;
    width: 100%;
    margin:0 auto 0 auto;
    padding:15px 30px 15px 30px ;
    background: #1d6db8;
    border:0;
    border-radius: 10px;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
}

.section-tests table tr td input:hover {
    background: #1d41b8;
}

.section-tests table tr td label {
    font-size: 0.8em;
    line-height: 1.3em;
    margin:10px 0 0 0;
    display:block;
    font-weight:bold;
}

.row {
    background: #f3f3f3;
    margin-top:10px;
    border-radius: 5px;
    letter-spacing:-0.01em;
    color: #363636;
    
}

.section-col-left {
    width: 47%;
    float: left;
    padding: 25px;
    text-align: left;
}

.section-col-right {
    text-align: left;
    padding: 25px;
    margin: 0 0 0 50%;
    border-left: 10px solid #fff;
    letter-spacing:-0.01em;
}

.row p {
    font-size:0.95em;
}

.section-col-left h2, .section-col-right h2 {
    padding:0 0 15px 0;
    margin: 0 0 30px 0;
    font-size: 1.7em;
    font-weight: normal;
    line-height: 1.2em;
    color: #525252;
    letter-spacing:-0.02em;
    border-bottom:1px solid #ddd;
}

.section-col-left h3, .section-col-right h3 {
    padding:0;
    margin:0 0 10px 0;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.2em;
    color: #525252;
    letter-spacing:-0.01em;
}

input.btn {
    display:block;
    padding:15px 30px 15px 30px ;
    background: #18865c;
    border:0;
    border-radius: 10px;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
}

input.btn:hover {
    background: #0a6442;
}

input.textfield, textarea.textfield {
    padding: 10px;
    width:96%;
    border-radius: 5px;
    border: 2px solid #a3a3a3;
    font-family: 'Courier New', Courier, monospace;
}

input.textfield:hover, textarea.textfield:hover {
    border: 2px solid #7da596;
    box-shadow: 0 0 5px #808080;
}

input.textfield.years {
    width:100px;
    font-family: Arial, Helvetica, sans-serif;
}


.section-col-right table{
    margin-top:20px;
}

.section-col-right table tr td {
    vertical-align: top;
    padding: 10px;
    text-align: center;
    width: 45%;
}

.section-col-right table tr td input {
    display:block;
    width: 100%;
    margin:0 auto 0 auto;
    padding:15px 30px 15px 30px ;
    background: #18865c;
    border:0;
    border-radius: 10px;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
}

.section-col-right table tr td label {
    font-size: 0.8em;
    line-height: 1.3em;
    margin:10px 0 0 0;
    display:block;
    font-weight:bold;
}



.doc {
    margin:20px 0 20px 0;
    border-radius: 5px;
    letter-spacing:-0.01em;
    color: #363636;
    border: 1px solid #a8a8a8;
    padding:30px;
}


.doc h1 {
    font-size: 2.2em;
    font-weight:normal;
    margin:0 0 25px 0;
    padding:0 0 20px 0;
    letter-spacing:-0.02em;
    color: #4e4e4e;
    border-bottom: 1px solid #a8a8a8;
}

.doc h2 {
    font-size: 1.7em;
    font-weight:normal;
    margin:25px 0 15px 0;
    padding:0;
    letter-spacing:-0.02em;
    color: #3c6097;
}

.doc h3 {
    font-size: 1em;
    font-weight:bold;
    margin:25px 0 0px 0;
    padding:0;
    line-height:1em;
    letter-spacing:-0.02em;
    color: #555;
}

.doc p {
    margin:10px 0 0px 0;
    padding:0;
    font-size: 0.8em;
    line-height:1.5em;
    letter-spacing:0em;
}

.doc ul {
    font-size: 0.8em;
    line-height:1.5em;
    letter-spacing:0em;
}

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


